body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f3e7e9, #c7d3f1); /* Gradient background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 3px solid #24beec; /* Solid border with a blue color */
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    max-width: 500px;
    width: 90%;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #24beec; /* Blue border around the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    margin-bottom: 20px;
}

.card h2 {
    margin: 20px 0;
    color: #333; /* Dark text color */
}

.card a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #24beec; /* Blue button color */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #30547a; /* Darker blue on hover */
}
