
body 
{
    
    /*background-color: aqua;*/
    background-image: linear-gradient(lightgrey,lightpink, lightgrey) ; 

}

p
{
    color:green ;
}

article p
{
    color: blueviolet;
}

#autor 
{
    color:blue; 

}

.trida
{
    color:brown;
}

h1, h2 {
    color:darkcyan

}

a {

    text-decoration:  none;

}

a:link
{

color:green
}

a:visited
{

    color:blue
}

a:focus
{
    color:orange;
}

a:hover
{

    color:yellow
}

a:active
{
    color:brown
}